.benefits__slider-slide {
  display: inline-block;
}

.slick-dots {
  display: flex;
  padding: 20px 0 0 10px;

  li {
    margin-right: 5px;
    width: 62px;
    height: 2px;
    background-color: #ff0001;
    opacity: 0.5;

    button {
      display: none;
    }
  }
}

.slick-active {
  opacity: 1 !important;
}

.benefits__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;

  &-img {
    display: inline-block;
    margin-bottom: 10px;
  }
}

.slider {
  min-width: 0;
}

.img-small {
  img {
    @media (max-width: 1280px) {
      max-width: 24vw;
    }
    @media (max-width: 583.98px) {
      max-width: 42vw;
    }
  }
}

.img-big {
  img {
    @media (max-width: 1280px) {
      max-width: 40vw;
    }
    
    @media (max-width: 583.98px) {
        max-width: 84vw;
    }
  }
}

.info__gallery-img-s {
  max-width: 290px;
}

.info__gallery-img-b {
  max-width: 490px;
}