.header {
  
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 40px 0 !important;
  }
  &__nav { 
    @media (max-width: 900px) {
      display: none;
    }
    &-el {
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      color: #000000;
      opacity: 0.5;
    }
    nav {
      & > * + * {
        margin-left: 25px;
      }
    }
  }

  &__contacts {
    li {
      text-align: right;
    }

    &-el {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      opacity: 0.5;
    }

    ul {
      & > * + * {
        margin-top: -10px;
      }
    }
  }

  &__burger {
    display: none;
    @media (max-width: 900px) {
      display: block;
      position: relative;
      cursor: pointer;
      width: 30px;
      height: 20px;
      z-index: 10;
      span {
        display: block;
        position: absolute;
        top: 10px;
        width: 100%;
        opacity: 0.5;
        height: 2px;
        background-color: #000000;
      }

      &::after, &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        opacity: 0.5;
        display: block;
        background-color: #000000;
      }

      &::after {
        top: 2px;
      }


      &::before {
        bottom: -0;
        width: 24px;
        height: 2px;
      }

      &.open-menu {
        span {
          opacity: 0;
          transition: 0.5s;
        }

        &::before {
          transform: rotate(38deg);
          top: 8px;
          transition: 0.4s;
          width: 30px;
        }

        &::after {
          transform: rotate(-38deg);
          top: 8px;
          transition: 0.4s;
        }
      }
    }
  }

  &__burgermenu {
    display: block;
    position: fixed;
    right: -200%;
    &.open-menu {
      width: 250px;
      height: 200%;
      right: 0;
      top: 0;
      background-color: rgba(255, 0, 1, .75);
      transition: right .3s ease 0s;
      z-index: 3;
      ul {
        display: flex;
        flex-direction: column;
        z-index: 55;
        margin-top: 150px;
        justify-content: center;
        align-items: center;

        & > * + * {
          margin-top: 15px;
        }

        li {
          a {
            color: black;
            font-size: 20px;
            font-weight: 500;
          }
        }
      }
    }
  }
}